<!DOCTYPE html>

<html> 

<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>ACNE</h1>
	<br>
	<br>
</div>

<body> 

<h2>TREATMENT OF ACNE:</h2>

<p> If you've tried over-the-counter (nonprescription) acne products for several weeks and they haven't helped, ask your doctor about prescription-strength medications.<br>
<br>	
A dermatologist can help you:<br>
<ul>
<li>Control your acne<br></li>
<li>Avoid scarring or other damage to your skin<br></li>
<li>Make scars less noticeable<br></li>
</ul>
<br>

Acne medications work by reducing oil production and swelling or by treating bacterial infection. With most prescription acne drugs, you may not see results for four to eight weeks. It can take many months or years for your acne to clear up completely.<br>
<br>
</p>

<p>
<strong>The most common topical prescription medications for acne are:</strong><br>
<ul>
	<li><b>Retinoids and retinoid-like drugs : </b> Drugs that contain retinoic acids or tretinoin are often useful for moderate acne. These come as creams, gels and lotions. Examples include tretinoin (Avita, Retin-A, others), adapalene (Differin) and tazarotene (Tazorac, Avage, others). You apply this medication in the evening, beginning with three times a week, then daily as your skin becomes used to it. It prevents plugging of hair follicles. Do not apply tretinoin at the same time as benzoyl peroxide.<br>

Topical retinoids increase your skin's sun sensitivity. They can also cause dry skin and redness, especially in people with skin of color. Adapalene may be tolerated best.</li>
<br>

<li><b>Antibiotics : </b>These work by killing excess skin bacteria and reducing redness and inflammation. For the first few months of treatment, you may use both a retinoid and an antibiotic, with the antibiotic applied in the morning and the retinoid in the evening. The antibiotics are often combined with benzoyl peroxide to reduce the likelihood of developing antibiotic resistance. Examples include clindamycin with benzoyl peroxide (Benzaclin, Duac, others) and erythromycin with benzoyl peroxide (Benzamycin). Topical antibiotics alone aren't recommended.</li>
<br>
</ul>
</p>

<p>
	<strong>The most common oral prescription medications for acne are:</strong><br>
	<ul>
		<li><b>Antibiotics : </b>For moderate to severe acne, you may need oral antibiotics to reduce bacteria. Usually the first choice for treating acne is a tetracycline (minocycline, doxycycline) or a macrolide (erythromycin, azithromycin). A macrolide might be an option for people who can't take tetracyclines, including pregnant women and children under 8 years old.
		<br>
        Oral antibiotics should be used for the shortest time possible to prevent antibiotic resistance. And they should be combined with other drugs, such as benzoyl peroxide, to reduce the risk of developing antibiotic resistance.<br></li>
        <br>

        <li><b>Combined oral contraceptives : </b>Four combined oral contraceptives are approved by the FDA for acne therapy in women who also wish to use them for contraception. They are products that combine progestin and estrogen (Ortho Tri-Cyclen 21, Yaz, others). You may not see the benefit of this treatment for a few months, so using other acne medications with it for the first few weeks may help.
        <br>
        Common side effects of combined oral contraceptives are weight gain, breast tenderness and nausea. These drugs are also associated with increased risk of cardiovascular problems, breast cancer and cervical cancer.<br></li>
        <br>

        <li><b>Anti-androgen agents : </b>The drug spironolactone (Aldactone) may be considered for women and adolescent girls if oral antibiotics aren't helping. It works by blocking the effect of androgen hormones on the oil-producing glands. Possible side effects include breast tenderness and painful periods.<br></li>
        <br>
    </ul>
</p>

<p>
	<b>Treating Children :</b> <br>
	<br>
	Most studies of acne drugs have involved people 12 years of age or older. Increasingly, younger children are getting acne as well. The FDA has expanded the number of topical products approved for use in children. And guidelines from the American Academy of Dermatology indicate that topical benzoyl peroxide, adapalene and tretinoin in preadolescent children are effective and don't cause increased risk of side effects.<br>
	If your child has acne, consider consulting a pediatric dermatologist. Ask about drugs to avoid in children, appropriate doses, drug interactions, side effects, and how treatment may affect a child's growth and development.<br>
</p>






</body> 
</html> 