<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
  <br>
  <br>
  <h1>AIDS
  </h1>
  <br>
  <br>
</div>

<body> 

<h2>DIAGNOSIS OF AIDS:</h2>

<p>HIV can be diagnosed through blood or saliva testing. Available tests include:<br>
	<ul>
		<li>Antigen/antibody tests: These tests usually involve drawing blood from a vein. Antigens are substances on the HIV virus itself and are usually detectable — a positive test — in the blood within a few weeks after exposure to HIV.</li><br>

		<li>Antibodies are produced by your immune system when it's exposed to HIV. It can take weeks to months for antibodies to become detectable. The combination antigen/antibody tests can take two to six weeks after exposure to become positive.</li><br>

		<li>Antibody tests: These tests look for antibodies to HIV in blood or saliva. Most rapid HIV tests, including self-tests done at home, are antibody tests. Antibody tests can take three to 12 weeks after you're exposed to become positive.</li><br>

		<li> Nucleic acid tests (NATs): These tests look for the actual virus in your blood (viral load). They also involve blood drawn from a vein. If you might have been exposed to HIV within the past few weeks, your doctor may recommend NAT. NAT will be the first test to become positive after exposure to HIV.</li><br>
        <br>
    </ul>
        Talk to your doctor about which HIV test is right for you. If any of these tests are negative, you may still need a follow-up test weeks to months later to confirm the results.<br>


          <b>Determine whether you need additional testing</b><br>
          Determine which HIV antiretroviral therapy (ART) will be best for you.
          Monitor your progress and work with you to manage your health.<br>
      </p>

<h2>DIAGNOSIS OF AIDS:</h2>

<p>Currently, there's no cure for HIV/AIDS. Once you have the infection, your body can't get rid of it. However, there are many medications that can control HIV and prevent complications. These medications are called antiretroviral therapy (ART). Everyone diagnosed with HIV should be started on ART, regardless of their stage of infection or complications.<br>

ART is usually a combination of three or more medications from several different drug classes. This approach has the best chance of lowering the amount of HIV in the blood. There are many ART options that combine three HIV medications into one pill, taken once daily.<br>


The classes of anti-HIV drugs include:<br>
<ul>
	<li>Non-nucleoside reverse transcriptase inhibitors (NNRTIs) turn off a protein needed by HIV to make copies of itself. Examples include efavirenz (Sustiva), rilpivirine (Edurant) and doravirine (Pifeltro).</li><br>
<li>Nucleoside or nucleotide reverse transcriptase inhibitors (NRTIs) are faulty versions of the building blocks that HIV needs to make copies of itself. Examples include abacavir (Ziagen), tenofovir (Viread), emtricitabine (Emtriva), lamivudine (Epivir) and zidovudine (Retrovir). Combination drugs also are available, such as emtricitabine/tenofovir (Truvada) and emtricitabine/tenofovir alafenamide (Descovy).</li><br>
<li>Protease inhibitors (PIs) inactivate HIV protease, another protein that HIV needs to make copies of itself. Examples include atazanavir (Reyataz), darunavir (Prezista) and lopinavir/ritonavir (Kaletra).</li><br>
<li>Integrase inhibitors work by disabling a protein called integrase, which HIV uses to insert its genetic material into CD4 T cells. Examples include bictegravir sodium/emtricitabine/tenofovir alafenamide fumar (Biktarvy), raltegravir (Isentress) and dolutegravir (Tivicay).</li><br>
<li>Entry or fusion inhibitors block HIV's entry into CD4 T cells. Examples include enfuvirtide (Fuzeon) and maraviroc (Selzentry).</li><br>
</ul>
</p>

</body>
</html>














