<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>ALLERGY</h1>
	<br>
	<br>
</div>
<body> 

<h2>TREATMENT OF ALLERGY:</h2>

<p>
	<b>Antihistamines: </b><br>
	Antihistamines can help to treat most minor allergic reactions regardless of the cause. These drugs reduce the body’s production of histamine, which reduces all symptoms, including sneezing, watering eyes, and skin reactions.<br>

Second-generation antihistamines, including Claritin (loratadine) and Zyrtec (cetirizine), are less likely to cause drowsiness than first-generation antihistamines, such as Benadryl.<br>

Antihistamines come in several forms, usually to help deliver the medication closer to the source of the reaction or make it easier to consume, such as:<br>
<ul>
<li>oral pills</li><br>
<li>dissolvable tablets</li><br>
<li>nasal sprays</li><br>
<li>liquids</li><br>
<li>eye drops</li><br>
</ul>
Antihistamines in these forms are available from pharmacies, to buy online, or on prescription from a doctor.

Antihistamines can also be taken to prevent allergies. Many people with seasonal or pet allergies will begin taking antihistamines when they know they are going to be exposed to an allergen.

A person who is pregnant or has a liver disorder should consult their doctor before taking antihistamines.<br>
</p>

<p>
	<b>Nasal decongestants: </b><br>
	Nasal decongestant pills, liquids, and sprays can also help reduce stuffy, swollen sinuses and related symptoms, such as a sore throat or coughing.

However, decongestant medications should not be taken continuously for more than 72 hours.

Nasal decongestants are available over the counter and online.<br>
</p>

<p>
	<b>Anti-inflammatory medication:</b><br>
	Non-steroidal anti-inflammatory medications (NSAIDs) may also be used to help temporarily reduce pain, swelling, and cramping caused by allergies.<br>
</p>


<p>
	<b>Treating allergies on the skin:</b><br>
	For allergic reactions that cause skin symptoms, including those associated with allergens found in animal saliva, poisonous plants, drugs, chemicals and metals, additional treatment options include:<br>
	<ul>
		<li>Topical corticosteroid creams or tablets: Corticosteroids contain steroids that reduce inflammation and itching. Mild forms of these creams can be found online, and a doctor can prescribe stronger versions.</li><br>
<li>Moisturizing creams: Emollient creams with soothing ingredients, such as calamine can treat skin reactions.</li><br>
<li>Bite or sting medication: Medication targeted to reduce allergic reactions to insect bites or stings have a similar effect to other allergy medications.</li><br>
<li>Ice pack: Applying an ice pack wrapped in cloth to the area for 10- to 15-minute intervals can reduce inflammation.</li><br>
</ul>
</p>

<p>People should speak to a professional if they have or suspect that they have severe or chronic allergies.

A doctor or allergy specialist can prescribe medications that contain much stronger doses of the compounds found in OTC products.<br>

Treatment options for chronic or severe allergies include:<br>
<ul>
	<li>Immunotherapy, or allergy shots: Immunotherapy can be between 90 and 98 percent effective at reducing allergic reactions to insect stings, for instance.</li><br>
    <li>Prescription asthma medications, such as bronchodilators and inhaled corticosteroids.</li><br>
    <li>Oral cromolyn can be taken for food allergies.</li><br>
    <li>Drug desensitization therapy is used for specific allergens.</li><br>
</ul>

<b>The American Association of Naturopathic Physicians recommend the following natural treatments for allergies:</b><br>
<ul>
	<li>Dietary changes: A low-fat diet high in complex carbohydrates, such as beans, whole grains, and vegetables may reduce allergy reactions.</li><br>
<li>Bioflavonoids: These plant-based chemicals found in citrus fruits and blackcurrants may act as natural antihistamines. These can also be taken as supplements.</li><br>
<li>Supplements: Flaxseed oil, zinc, and vitamins A, C, and E are suggested to improve allergy symptoms.</li><br>
<li>Acupuncture: Acupuncture treatments may help some people to find relief from their symptoms.</li><br>
</ul>
</p>

</body> 
</html> 




















