<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>ARTHRITIS</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Arthritis:</h2>

During the physical exam, your doctor will check your joints for swelling, redness and warmth. He or she will also want to see how well you can move your joints.<br>

Depending on the type of arthritis suspected, your doctor may suggest some of the following tests.<br>
<br>

<b>Laboratory tests</b><br>

The analysis of different types of body fluids can help pinpoint the type of arthritis you may have. Fluids commonly analyzed include blood, urine and joint fluid. To obtain a sample of your joint fluid, your doctor will cleanse and numb the area before inserting a needle in your joint space to withdraw some fluid.<br>
<br>

<b>Imaging</b><br>
These types of tests can detect problems within your joint that may be causing your symptoms. Examples include:<br>

<ul>
	<li><b>X-rays</b> Using low levels of radiation to visualize bone, X-rays can show cartilage loss, bone damage and bone spurs. X-rays may not reveal early arthritic damage, but they are often used to track progression of the disease.</li><br>
	<li><b>Computerized tomography (CT)</b> CT scanners take X-rays from many different angles and combine the information to create cross-sectional views of internal structures. CTs can visualize both bone and the surrounding soft tissues.</li><br>
	<li><b>Magnetic resonance imaging (MRI)</b> Combining radio waves with a strong magnetic field, MRI can produce more-detailed cross-sectional images of soft tissues such as cartilage, tendons and ligaments.</li><br>
	<li><b>Ultrasound</b> This technology uses high-frequency sound waves to image soft tissues, cartilage and fluid-containing structures near the joints (bursae). Ultrasound is also used to guide needle placement for joint aspirations and injections.</li><br>
</ul>

<h2>Treatment Of Arthritis:</h2>

Arthritis treatment focuses on relieving symptoms and improving joint function. You may need to try several different treatments, or combinations of treatments, before you determine what works best for you.<br>
The medications used to treat arthritis vary depending on the type of arthritis. Commonly used arthritis medications include:<br>

<ul>
	<li><b>Painkillers</b> These medications help reduce pain, but have no effect on inflammation. An over-the-counter option includes acetaminophen (Tylenol, others).<br>For more-severe pain, opioids might be prescribed, such as tramadol (Ultram, ConZip), oxycodone (OxyContin, Roxicodone, others) or hydrocodone (Hysingla, Zohydro ER). Opioids act on the central nervous system to relieve pain. When opioids are used for a long time, they may become habit-forming, causing mental or physical dependence.</li><br>

	<li><b>Nonsteroidal anti-inflammatory drugs (NSAIDs)</b> NSAIDs reduce both pain and inflammation. Over-the-counter NSAIDs include ibuprofen (Advil, Motrin IB, others) and naproxen (Aleve). Some types of NSAIDs are available only by prescription.<br>Oral NSAIDs can cause stomach irritation and may increase your risk of heart attack or stroke. Some NSAIDs are also available as creams or gels, which can be rubbed on joints.</li><br>

	<li><b>Counterirritants</b> Some varieties of creams and ointments contain menthol or capsaicin, the ingredient that makes hot peppers spicy. Rubbing these preparations on the skin over your aching joint may interfere with the transmission of pain signals from the joint itself.</li><br>
</ul>
<br>

If conservative measures don't help, your doctor may suggest surgery, such as:<br>
<ul>
	<li><b>Joint repair</b> In some instances, joint surfaces can be smoothed or realigned to reduce pain and improve function. These types of procedures can often be performed arthroscopically — through small incisions over the joint.</li><br>
	<li><b>Joint replacement</b> This procedure removes your damaged joint and replaces it with an artificial one. Joints most commonly replaced are hips and knees.</li><br>
	<li><b>Joint fusion</b> This procedure is more often used for smaller joints, such as those in the wrist, ankle and fingers. It removes the ends of the two bones in the joint and then locks those ends together until they heal into one rigid unit.</li><br>
</ul>

</body>
</html>

