<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
    <br>
    <br>
    <h1>Bronchial Asthma</h1>
    <br>
    <br>
</div>
<body> 

<h2>Diagnosis Of Asthma:</h2>

<b>Physical exam</b><br>
<br>
Your doctor will perform a physical exam to rule out other possible conditions, such as a respiratory infection or chronic obstructive pulmonary disease (COPD). Your doctor will also ask you questions about your signs and symptoms and about any other health problems.<br><br>

<b>Tests to measure lung function</b><br>
<br>

You may be given lung function tests to determine how much air moves in and out as you breathe. These tests may include:<br>
<ul>
	<li>Spirometry: This test estimates the narrowing of your bronchial tubes by checking how much air you can exhale after a deep breath and how fast you can breathe out.</li><br>
    <li>Peak flow: A peak flow meter is a simple device that measures how hard you can breathe out. Lower than usual peak flow readings are a sign that your lungs may not be working as well and that your asthma may be getting worse. Your doctor will give you instructions on how to track and deal with low peak flow readings.</li><br>
</ul>

<h2>Treatment of Asthma:</h2>

Prevention and long-term control are key to stopping asthma attacks before they start. Treatment usually involves learning to recognize your triggers, taking steps to avoid triggers and tracking your breathing to make sure your medications are keeping symptoms under control. In case of an asthma flare-up, you may need to use a quick-relief inhaler.<br>
<br>
<b>Long-term asthma control medications</b>, generally taken daily, are the cornerstone of asthma treatment. These medications keep asthma under control on a day-to-day basis and make it less likely you'll have an asthma attack. Types of long-term control medications include:<br>
<br>
<ul>
	<li><b>Inhaled corticosteroids:</b> These medications include fluticasone propionate (Flovent HFA, Flovent Diskus, Xhance), budesonide (Pulmicort Flexhaler, Pulmicort Respules, Rhinocort), ciclesonide (Alvesco), beclomethasone (Qvar Redihaler), mometasone (Asmanex HFA, Asmanex Twisthaler) and fluticasone furoate (Arnuity Ellipta).<br>
    You may need to use these medications for several days to weeks before they reach their maximum benefit. Unlike oral corticosteroids, inhaled corticosteroids have a relatively low risk of serious side effects.</li><br>
    <li><b>Leukotriene modifiers:</b> These oral medications — including montelukast (Singulair), zafirlukast (Accolate) and zileuton (Zyflo) — help relieve asthma symptoms.<br>
    Montelukast has been linked to psychological reactions, such as agitation, aggression, hallucinations, depression and suicidal thinking. Seek medical advice right away if you experience any of these reactions.</li><br>
    <li><b>Combination inhalers:</b> These medications — such as fluticasone-salmeterol (Advair HFA, Airduo Digihaler, others), budesonide-formoterol (Symbicort), formoterol-mometasone (Dulera) and fluticasone furoate-vilanterol (Breo Ellipta) — contain a long-acting beta agonist along with a corticosteroid.</li><br>
</ul>

<b>Quick-relief (rescue) medications</b> are used as needed for rapid, short-term symptom relief during an asthma attack. They may also be used before exercise if your doctor recommends it. Types of quick-relief medications include:<br>
<br>
<ul>
	<li><b>Short-acting beta agonists:</b> These inhaled, quick-relief bronchodilators act within minutes to rapidly ease symptoms during an asthma attack. They include albuterol (ProAir HFA, Ventolin HFA, others) and levalbuterol (Xopenex, Xopenex HFA).<br>
    Short-acting beta agonists can be taken using a portable, hand-held inhaler or a nebulizer, a machine that converts asthma medications to a fine mist. They're inhaled through a face mask or mouthpiece.</li><br>
    <li><b>Anticholinergic agents:</b> Like other bronchodilators, ipratropium (Atrovent HFA) and tiotropium (Spiriva, Spiriva Respimat) act quickly to immediately relax your airways, making it easier to breathe. They're mostly used for emphysema and chronic bronchitis, but can be used to treat asthma.</li><br>
    <li><b>Oral and intravenous corticosteroids:</b> These medications — which include prednisone (Prednisone Intensol, Rayos) and methylprednisolone (Medrol, Depo-Medrol, Solu-Medrol) — relieve airway inflammation caused by severe asthma. They can cause serious side effects when used long term, so these drugs are used only on a short-term basis to treat severe asthma symptoms.</li><br>
</ul>
</body>
</html>
