<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Cervical Spondylosis</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Cervical spondylosis:</h2>

Your doctor will likely start with a physical exam that includes:<br>
<ul>
<li>Checking the range of motion in your neck</li><br>
<li>Testing your reflexes and muscle strength to find out if there's pressure on your spinal nerves or spinal cord</li><br>
<li>Watching you walk to see if spinal compression is affecting your gait</li><br>
</ul>

<b>Imaging tests</b><br>
<br>
Imaging tests can provide detailed information to guide diagnosis and treatment. Your doctor might recommend:<br>
<ul>
	<li><b>Neck X-ray:</b> An X-ray can show abnormalities, such as bone spurs, that indicate cervical spondylosis. Neck X-ray can also rule out rare and more serious causes for neck pain and stiffness, such as tumors, infections or fractures.</li><br>
	<li><b>CT scan:</b> A CT scan can provide more detailed imaging, particularly of bones.</li><br>
	<li><b>MRI:</b> MRI can help pinpoint areas where nerves might be pinched.</li><br>
    <li><b>Myelography:</b> A tracer dye is injected into the spinal canal to provide more detailed X-ray or CT imaging.</li><br>
</ul>
<br>

<b>Nerve function tests</b><br>
<br>
Your doctor might recommend tests to determine if nerve signals are traveling properly to your muscles. Nerve function tests include:<br>
<ul>
	<li><b>Electromyography:</b> This test measures the electrical activity in your nerves as they transmit messages to your muscles when the muscles are contracting and at rest.</li><br>
    <li><b>Nerve conduction study:</b> Electrodes are attached to your skin above the nerve to be studied. A small shock is passed through the nerve to measure the strength and speed of nerve signals.</li><br>
</ul>

<h2>Treatment Of Cervical spondylosis:</h2>

Treatment for cervical spondylosis depends on the severity of your signs and symptoms. The goal of treatment is to relieve pain, help you maintain your usual activities as much as possible, and prevent permanent injury to the spinal cord and nerves.<br>

<br><b>Medication</b><br>
<br>
<ul>
	<li><b>Nonsteroidal anti-inflammatory drugs:</b> While some types of NSAIDs are available over the counter, you may need prescription-strength versions to relieve the pain and inflammation associated with cervical spondylosis.</li><br>
	<li><b>Corticosteroids:</b> A short course of oral prednisone might help ease pain. If your pain is severe, steroid injections may be helpful.</li><br>
    <li><b>Muscle relaxants:</b> Certain drugs, such as cyclobenzaprine, can help relieve muscle spasms in the neck.</li><br>
    <li><b>Anti-seizure medications:</b> Some epilepsy medications, such as gabapentin (Neurontin, Horizant) and pregabalin (Lyrica), can dull the pain of damaged nerves.</li><br>
    <li><b>Antidepressants:</b> Certain antidepressant medications have been found to help ease neck pain from cervical spondylosis.</li><br>
</ul>

<b>Therapy</b><br>
<br>
A physical therapist can teach you exercises to help stretch and strengthen the muscles in your neck and shoulders. Some people with cervical spondylosis benefit from the use of traction, which can help provide more space within the spine if nerve roots are being pinched.<br>

<br><b>Surgery</b><br>
<br>
If conservative treatment fails or if your neurological signs and symptoms — such as weakness in your arms or legs — worsen, you might need surgery to create more room for your spinal cord and nerve roots.<br>
The surgery might involve:<br>
<ul>
	<li>Removing a herniated disk or bone spurs</li>
	<li>Removing part of a vertebra</li>
    <li>Fusing a segment of the neck using bone graft and hardware</li>
</ul>

</body>
</html>



