<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>CHICKEN POX</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Chickenpox:</h2>

Doctors generally diagnose chickenpox based on the rash.<br>

If there's any doubt about the diagnosis, chickenpox can be confirmed with laboratory tests, including blood tests or a culture of lesion samples.<br>

<h2>Treatment Of Chickenpox:</h2>

In otherwise healthy children, chickenpox typically needs no medical treatment. Your doctor may prescribe an antihistamine to relieve itching. But for the most part, the disease is allowed to run its course.<br>

For people who are at high risk of complications from chickenpox, doctors sometimes prescribe medications to shorten the length of the infection and to help reduce the risk of complications.<br>

If you or your child are at high risk of complications, your doctor may suggest an antiviral drug such as acyclovir (Zovirax, Sitavig) or another drug called immune globulin intravenous (Privigen). These medications may lessen the severity of chickenpox when given within 24 hours after the rash first appears.<br>

Other antiviral drugs, such as valacyclovir (Valtrex) and famciclovir, also may lessen the severity of the disease, but may not be approved or appropriate for everyone. In some instances, your doctor may recommend getting the chickenpox vaccine after you've been exposed to the virus. This can prevent the disease or lessen its severity.<br>

To help ease the symptoms of an uncomplicated case of chickenpox, follow these self-care measures.<br>
<br>

<b>Avoid Scratching</b><br>
<br>

Scratching can cause scarring, slow healing and increase the risk that the sores will become infected. If your child can't stop scratching:<br>
<ul>
	<li>Put gloves on his or her hands, especially at night</li>
	<li>Trim his or her fingernails</li>
</ul>
<br>

<b>Relieve the itch and other symptoms</b><br>
<br>

The chickenpox rash can be very itchy, and broken vesicles sometimes sting. These discomforts, along with fever, headache and fatigue, can make anyone miserable. For relief, try:<br>
<ul>
	<li>A cool bath with added baking soda, aluminum acetate (Domeboro, others), uncooked oatmeal or colloidal oatmeal — a finely ground oatmeal that is made for soaking.</li><br>
	<li>Calamine lotion dabbed on the spots.</li><br>
	<li>A soft, bland diet if chickenpox sores develop in the mouth.</li><br>
	<li>Antihistamines such as diphenhydramine (Benadryl, others) for itching. Check with your doctor to make sure your child can safely take antihistamines.</li><br>
	<li>Acetaminophen (Tylenol, others) for a mild fever.</li><br>
</ul>

</body>
</html>


