<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>COMMON COLD</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Common Cold:</h2>

Most people with a common cold can be diagnosed by their signs and symptoms. If your doctor suspects you have a bacterial infection or other condition, he or she may order a chest X-ray or other tests to exclude other causes of your symptoms.<br>

<h2>Treatment Of Common Cold:</h2>

There's no cure for the common cold. Antibiotics are of no use against cold viruses and shouldn't be used unless there's a bacterial infection. Treatment is directed at relieving signs and symptoms.<br>

Pros and cons of commonly used cold remedies include:<br>

<ul>
	<li><b>Pain relievers:</b> For a fever, sore throat and headache, many people turn to acetaminophen (Tylenol, others) or other mild pain relievers. Use acetaminophen for the shortest time possible and follow label directions to avoid side effects.<br>
    Use caution when giving aspirin to children or teenagers. Children and teenagers recovering from chickenpox or flu-like symptoms should never take aspirin. This is because aspirin has been linked to Reye's syndrome, a rare but potentially life-threatening condition, in such children.</li><br>
    <li><b>Decongestant nasal sprays:</b> Adults can use decongestant drops or sprays for up to five days. Prolonged use can cause rebound symptoms. Children younger than 6 shouldn't use decongestant drops or sprays.</li><br>
    <li><b>Cough syrups:</b> The Food and Drug Administration (FDA) and the American Academy of Pediatrics strongly recommends against giving OTC cough and cold medicines to children younger than age 4 as they may be harmful. There's no good evidence that these remedies are beneficial or safe for children.</li><br>
</ul>
<br>
<br>
To make yourself as comfortable as possible when you have a cold, try:<br>
<ul>
	<li><b>Drinking plenty of fluids</b> Water, juice, clear broth or warm lemon water are good choices. Avoid caffeine and alcohol, which can dehydrate you.</li><br>
	<li><b>Resting:</b> If possible, stay home from work or school if you have a fever or a bad cough or are drowsy after taking medications. This will give you a chance to rest as well as reduce the chances that you'll infect others.</li><br>
	<li><b>Soothing your throat:</b> A saltwater gargle — 1/4 to 1/2 teaspoon salt dissolved in a 4-ounce to 8-ounce glass of warm water — can temporarily relieve a sore or scratchy throat.</li><br>
</ul>
<br>

</body>
</html>



