<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>PILES</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Dimorphic hemmorhoids(piles):</h2>

Your doctor might be able to see external hemorrhoids. Diagnosing internal hemorrhoids might include examination of your anal canal and rectum.<br>

<ul>
	<li><b>Digital examination</b> Your doctor inserts a gloved, lubricated finger into your rectum. He or she feels for anything unusual, such as growths.</li><br>
	<li><b>Visual inspection</b> Because internal hemorrhoids are often too soft to be felt during a rectal exam, your doctor might examine the lower portion of your colon and rectum with an anoscope, proctoscope or sigmoidoscope.</li><br>
</ul>
<br>
Your doctor might want to examine your entire colon using colonoscopy if:<br>
<ul>
	<li>Your signs and symptoms suggest you might have another digestive system disease</li>
	<li>You have risk factors for colorectal cancer</li>
	<li>You are middle-aged and haven't had a recent colonoscopy</li>
</ul>
<br>

<h2>Treatment Of Dimorphic hemmorhoids(piles):</h2>

You can often relieve the mild pain, swelling and inflammation of hemorrhoids with home treatments.<br>

<ul>
	<li><b>Eat high-fiber foods</b> Eat more fruits, vegetables and whole grains. Doing so softens the stool and increases its bulk, which will help you avoid the straining that can worsen symptoms from existing hemorrhoids. Add fiber to your diet slowly to avoid problems with gas.</li><br>
	<li><b>Use topical treatments</b> Apply an over-the-counter hemorrhoid cream or suppository containing hydrocortisone, or use pads containing witch hazel or a numbing agent.</li><br>
	<li><b>Soak regularly in a warm bath or sitz bath</b> Soak your anal area in plain warm water for 10 to 15 minutes two to three times a day. A sitz bath fits over the toilet.</li><br>
</ul>
<br>

For persistent bleeding or painful hemorrhoids, your doctor might recommend one of the other minimally invasive procedures available. These treatments can be done in your doctor's office or other outpatient setting and don't usually require anesthesia.<br>

<ul>
	<li><b>Rubber band ligation</b> Your doctor places one or two tiny rubber bands around the base of an internal hemorrhoid to cut off its circulation. The hemorrhoid withers and falls off within a week.<br>
	Hemorrhoid banding can be uncomfortable and cause bleeding, which might begin two to four days after the procedure but is rarely severe. Occasionally, more-serious complications can occur.</li><br>
	<li><b>Injection (sclerotherapy)</b> Your doctor injects a chemical solution into the hemorrhoid tissue to shrink it. While the injection causes little or no pain, it might be less effective than rubber band ligation.</li><br>
	<li><b>Coagulation (infrared, laser or bipolar)</b> Coagulation techniques use laser or infrared light or heat. They cause small, bleeding internal hemorrhoids to harden and shrivel. Coagulation has few side effects and usually causes little discomfort.</li><br>
</ul>


</body>
</html>

