<!DOCTYPE html> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Fungal Infection</h1>
	<br>
	<br>
</div>
<body> 

<h2>TREATMENT OF FUNGAL INFECTION:</h2>

<p>Many people suffer from fungal infections at least once in their lives. Poor hygiene, humidity, and warm climate are possible causes of fungal infections. Diaper rash, athlete’s foot, jock itch, and oral thrush are some common fungal infections. Many fungi that cause these infections are already becoming resistant to more aggressive forms of medications.<br>
<br>
</p>
<p>
While over the counter medicines and antifungal creams are readily available in the market, most fungal infections respond very positively to home remedies. Let us take a look at some of them.<br>
<br>

<ul>
	<li><b>Eat Yogurt and Probiotics : </b>Yoghurt and other probiotics have an ample amount of good bacteria that help stave off many fungal infections. These fight off microbes that cause these infections.<br>
	Fermented foods are another excellent source of probiotics. If these are not helping, you could use probiotic supplements that have more concentrated dosages of the good bacteria. Read more on the health benefits of yoghurt.</li><br>
	<br>

	<li><b>Wash with Soap and Water : </b>Clean the affected area with soap and water twice daily before you apply any home remedies or any other medication. This will control the spread of infection.</li><br>
	<br>

	<li><b>Use Apple Cider Vinegar : </b>Apple cider vinegar has antifungal properties. You could mix two tablespoons in warm water and drink it up or dip a cotton ball in it and dab over your skin. Doing this thrice a day should produce beneficial results. Know more about the health benefits of apple cider vinegar.</li><br>
	<br>

	<li><b>Use Tea Tree Oil : </b>Tea tree oil is naturally antifungal and antibacterial. Mix it with any carrier oil like coconut oil or olive oil and dab over the infected area about three to four times a day. This is one of the most effective home remedies to treat fungal infection.</li><br>
	<br>

	<li><b>Use Coconut Oil : </b>In its unheated form, even coconut oil works as a potent antifungal agent. Applying it over the skin makes it a good, safe topical medicine. Since it is easy on the skin, it is also useful to treat scalp ringworm. Use over the skin three times a day.</li><br>
	<br>

	<li><b>Use Turmeric : </b>Turmeric is a potent antimicrobial and anti-inflammatory spice. Mix with a little water and apply over the infected area. To get benefits in the internal body environment, mix with warm water, or have turmeric tea.</li><br>
	<br>

	<li><b>Use Aloe Vera : </b>One of the most time-tested natural remedies to cure any skin infection is aloe vera. It not only treats the infection but also soothes and repairs skin damage. Also, read aloe vera benefits for face and skin.</li><br>
	<br>

	<li><b>Garlic : </b>Garlic is one of the most potent antifungal and antimicrobial herbs. Those who eat garlic regularly are less susceptible to fungal infections. Crush a couple of garlic with some olive oil and make a paste. Apply to the infected area for about thirty minutes. Also, read the benefits of garlic for health.</li><br>
	<br>

	<li><b>Neem Leaves : </b>Neem leaves have effective antifungal properties and are extremely good for the skin. Washing the infected area with neem water helps in treating fungal infections. To make neem water, boil neem leaves in water for 2 to 3 minutes.</li><br>
	<br>
</ul>
</p>
<p>
	<b>You can also follow certain precautions to prevent or treat fungal infections like:</b><br>
	<br>

	<ul>
		<li>Always wear clean clothes</li><br>
		<li>Avoid using harsh detergents to clean clothes</li><br>
        <li>Avoid wearing clothes that are too tight. Prefer breathable cotton clothes</li><br>
        <li>Avoid scratching the affected area as it can worsen the infection and also increase the chances of spreading</li><br>
        <li>Wash the affected area at least 2 to 3 times a day</li><br>
        <li>Keep the affected area as dry as possible</li><br>
    </ul>
    <br>
</p>
<p>
    <b>When to visit a doctor for fungal infections?</b>
    <ul>
    <li>Even after following home remedies, there is no improvement</li><br>
    <li>The fungal infection worsens or recurs</li><br>
    <li>The infection starts spreading</li><br>
    <li>Women who are pregnant</li><br>
    <li>People suffering from diabetes</li><br>
    <li>Fungal infection is accompanied by fever or discharge of pus.</li><br>
    </ul>

</p>


</body> 
</html> 


