<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Gastroentritis</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis of Gastroenteritis :</h2>

<p>Your doctor will likely diagnose gastroenteritis based on symptoms, a physical exam and sometimes on the presence of similar cases in your community. A rapid stool test can detect rotavirus or norovirus, but there are no quick tests for other viruses that cause gastroenteritis. In some cases, your doctor may have you submit a stool sample to rule out a possible bacterial or parasitic infection.</p><br>

<h2>Treatment of Gastroenteritis :</h2>

There's often no specific medical treatment for viral gastroenteritis. Antibiotics aren't effective against viruses, and overusing them can contribute to the development of antibiotic-resistant strains of bacteria. Treatment initially consists of self-care measures.<br>
<br>

<b>Lifestyle and home remedies:</b><br>
<br>
To help keep yourself more comfortable and prevent dehydration while you recover, try the following:<br>
<ul>
	<li>Let your stomach settle: Stop eating solid foods for a few hours.</li><br>
	<li>Try sucking on ice chips or taking small sips of water: You might also try drinking clear soda, clear broths or noncaffeinated sports drinks. Drink plenty of liquid every day, taking small, frequent sips.</li><br>
	<li>Ease back into eating: Gradually begin to eat bland, easy-to-digest foods, such as soda crackers, toast, gelatin, bananas, rice and chicken. Stop eating if your nausea returns.</li><br>
	<li>Be cautious with medications: Use many medications, such as ibuprofen (Advil, Motrin IB, others), sparingly if at all. They can make your stomach more upset. Use acetaminophen (Tylenol, others) cautiously; it sometimes can cause liver toxicity, especially in children. Don't give aspirin to children or teens because of the risk of Reye's syndrome, a rare, but potentially fatal disease. Before choosing a pain reliever or fever reducer, discuss with your child's pediatrician.<br></li>
</ul>

</body>
</html>
