<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Heart Attack</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Heart attack:</h2>

Ideally, your doctor should screen you during regular physical exams for risk factors that can lead to a heart attack.<br>

If you're in an emergency setting for symptoms of a heart attack, you'll be asked about your symptoms and have your blood pressure, pulse and temperature checked. You'll be connected to a heart monitor and have tests to see if you're having a heart attack.<br>

Tests to diagnose a heart attack include:<br>

<ul>
	<li><b>Electrocardiogram (ECG)</b> This first test done to diagnose a heart attack records electrical signals as they travel through your heart. Sticky patches (electrodes) are attached to your chest and limbs. Signals are recorded as waves displayed on a monitor or printed on paper. Because injured heart muscle doesn't conduct electrical impulses normally, the ECG may show that a heart attack has occurred or is in progress.</li><br>
	<li><b>Blood tests</b> Certain heart proteins slowly leak into your blood after heart damage from a heart attack. Emergency room doctors will take samples of your blood to check for these proteins, or enzymes.</li><br>
</ul>
<br>

<h2>Treatment Of Heart attack:</h2>

Each minute after a heart attack, more heart tissue deteriorates or dies. Restoring blood flow quickly helps prevent heart damage.<br>

Medications to treat a heart attack might include:<br>

<ul>
	<li><b>Aspirin</b> The 911 operator might tell you to take aspirin, or emergency medical personnel might give you aspirin immediately. Aspirin reduces blood clotting, thus helping maintain blood flow through a narrowed artery.</li><br>
	<li><b>Thrombolytics</b> These drugs, also called clotbusters, help dissolve a blood clot that's blocking blood flow to your heart. The earlier you receive a thrombolytic drug after a heart attack, the greater the chance you'll survive and have less heart damage.</li><br>
	<li><b>Antiplatelet agents</b> Emergency room doctors may give you other drugs known as platelet aggregation inhibitors to help prevent new clots and keep existing clots from getting larger.</li><br>
	<li><b>Other blood-thinning medications</b> You'll likely be given other medications, such as heparin, to make your blood less "sticky" and less likely to form clots. Heparin is given by IV or by an injection under your skin.</li><br>
	<li><b>Pain relievers</b> You might be given a pain reliever, such as morphine.</li><br>
</ul>
<br>

</body>
</html>

