<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Hepatitis B</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Hepatitis B:</h2>

Your doctor will examine you and look for signs of liver damage, such as yellowing skin or belly pain. Tests that can help diagnose hepatitis B or its complications are:<br>

<ul>
	<li><b>Blood tests:</b> Blood tests can detect signs of the hepatitis B virus in your body and tell your doctor whether it's acute or chronic. A simple blood test can also determine if you're immune to the condition.</li><br>
	<li><b>Liver ultrasound:</b> A special ultrasound called transient elastography can show the amount of liver damage.</li><br>
	<li><b>Liver biopsy:</b> Your doctor might remove a small sample of your liver for testing (liver biopsy) to check for liver damage. During this test, your doctor inserts a thin needle through your skin and into your liver and removes a tissue sample for laboratory analysis.</li><br>
</ul>
<br>

<h2>Treatment Of Hepatitis B:</h2>

<b>Treatment to prevent hepatitis B infection after exposure</b><br>
<br>
If you know you've been exposed to the hepatitis B virus and aren't sure if you've been vaccinated, call your doctor immediately. An injection of immunoglobulin (an antibody) given within 12 hours of exposure to the virus may help protect you from getting sick with hepatitis B. Because this treatment only provides short-term protection, you also should get the hepatitis B vaccine at the same time, if you never received it.<br>
<br>

<b>Treatment for acute hepatitis B infection</b><br>
<br>
If your doctor determines your hepatitis B infection is acute — meaning it is short-lived and will go away on its own — you may not need treatment. Instead, your doctor might recommend rest, proper nutrition and plenty of fluids while your body fights the infection. In severe cases, antiviral drugs or a hospital stay is needed to prevent complications.<br>
<br>

<b>Treatment for chronic hepatitis B infection</b><br>
<br>
Most people diagnosed with chronic hepatitis B infection need treatment for the rest of their lives. Treatment helps reduce the risk of liver disease and prevents you from passing the infection to others. Treatment for chronic hepatitis B may include:<br>
<ul>
	<li><b>Antiviral medications:</b> Several antiviral medications — including entecavir (Baraclude), tenofovir (Viread), lamivudine (Epivir), adefovir (Hepsera) and telbivudine (Tyzeka) — can help fight the virus and slow its ability to damage your liver. These drugs are taken by mouth. Talk to your doctor about which medication might be right for you.</li><br>
	<li><b>Interferon injections:</b> Interferon alfa-2b (Intron A) is a man-made version of a substance produced by the body to fight infection. It's used mainly for young people with hepatitis B who wish to avoid long-term treatment or women who might want to get pregnant within a few years, after completing a finite course of therapy. Interferon should not be used during pregnancy. Side effects may include nausea, vomiting, difficulty breathing and depression.</li><br>
	<li><b>Liver transplant:</b> If your liver has been severely damaged, a liver transplant may be an option. During a liver transplant, the surgeon removes your damaged liver and replaces it with a healthy liver. Most transplanted livers come from deceased donors, though a small number come from living donors who donate a portion of their livers.</li><br>
</ul>

</body>
</html>


