<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Hepatitis A</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Hepatitis A:</h2>

Blood tests are used to look for signs of the hepatitis A virus in your body. A sample of blood is taken, usually from a vein in your arm. It's sent to a laboratory for testing.<br>

<h2>Treatment Of Hepatitis A:</h2>

No specific treatment exists for hepatitis A. Your body will clear the hepatitis A virus on its own. In most cases of hepatitis A, the liver heals within six months with no lasting damage.<br>

Hepatitis A treatment usually focuses on keeping comfortable and controlling signs and symptoms. You may need to:<br>
<ul>
	<li><b>Rest:</b> Many people with hepatitis A infection feel tired and sick and have less energy.</li><br>
	<li><b>Manage nausea:</b> Nausea can make it difficult to eat. Try snacking throughout the day rather than eating full meals. To get enough calories, eat more high-calorie foods. For instance, drink fruit juice or milk rather than water. Drinking plenty of fluids is important to prevent dehydration if vomiting occurs.</li><br>
	<li><b>Avoid alcohol and use medications with care:</b> Your liver may have difficulty processing medications and alcohol. If you have hepatitis, don't drink alcohol. It can cause more liver damage. Talk to your doctor about all the medications you take, including over-the-counter drugs.</li><br>
</ul>
<br>

<b>You can take steps to reduce the risk of passing hepatitis A to others.</b><br>
<br>
<ul>
	<li><b>Avoid sexual activity:</b> Avoid all sexual activity if you have hepatitis A. Many kinds of sexual activity can spread the infection to your partner. Condoms don't offer adequate protection.</li><br>
	<li><b>Wash your hands thoroughly after using the toilet and changing diapers:</b> Scrub vigorously for at least 20 seconds and rinse well. Dry your hands with a disposable towel.</li><br>
	<li><b>Don't prepare food for others while you're actively infected:</b> You can easily pass the infection to others.</li><br>
</ul>



</body>
</html>