<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
    <br>
    <br>
    <h1>Hypertension</h1>
    <br>
    <br>
</div>
<body> 

<h2>Diagnosis Of Hypertension:</h2>

Pulmonary hypertension is hard to diagnose early because it's not often detected in a routine physical exam. Even when the condition is more advanced, its signs and symptoms are similar to those of other heart and lung conditions.<br>

Your doctor will perform a physical exam and talk to you about your signs and symptoms. You'll be asked questions about your medical and family history.<br>

Your doctor will order tests to help diagnose pulmonary hypertension and determine its cause. Tests for pulmonary hypertension may include:<br>

<ul>
	<li><b>Blood tests:</b> Blood tests can help your doctor determine the cause of pulmonary hypertension or look for signs of complications.</li><br>
	<li><b>Chest X-ray:</b> A chest X-ray creates pictures of your heart, lungs and chest. It can show enlargement of the right ventricle of the heart or the pulmonary arteries, which can occur in pulmonary hypertension. Your doctor may also use a chest X-ray to check for other lung conditions that can cause pulmonary hypertension.</li><br>
	<li><b>Electrocardiogram (ECG):</b> This noninvasive test shows your heart's electrical patterns and can detect abnormal heartbeats. An ECG may also reveal signs of right ventricle enlargement or strain.</li><br>
    <li><b>Echocardiogram:</b> Sound waves can create moving images of the beating heart. An echocardiogram lets your doctor see how well your heart and its valves are working. It can be used to determine the size and thickness of the right ventricle, and to measure the pressure in your pulmonary arteries.</li><br>
    <li><b>Magnetic resonance imaging (MRI):</b> An MRI scan uses a magnetic field and pulses of radio wave energy to make pictures of the body. Your doctor may order this test to check the right ventricle's function and blood flow in the lung's arteries.</li><br>
</ul>

<h2>Treatment of Hypertension:</h2>

There's no cure for pulmonary hypertension, but your doctors can prescribe treatments to help you manage your condition. Treatment may help improve your symptoms and slow the progress of pulmonary hypertension.<br>

It often takes some time to find the most appropriate treatment for pulmonary hypertension. The treatments are often complex and require extensive follow-up care.<br>

When pulmonary hypertension is caused by another condition, your doctor will treat the underlying cause whenever possible.<br>

<ul>
	<li><b>Blood vessel dilators (vasodilators):</b> Vasodilators relax and open narrowed blood vessels, improving blood flow. One of the most commonly prescribed vasodilators for pulmonary hypertension is epoprostenol (Flolan, Veletri).<br>

    This drug continuously flows through an intravenous (IV) line attached to a small pump, which you wear in a pack on your belt or shoulder. Potential side effects of epoprostenol include jaw pain, nausea, diarrhea, leg cramps, and pain and infection at the IV site.<br></li>
    
    <li><b>Guanylate cyclase (GSC) stimulators:</b> Riociguat (Adempas) increases nitric oxide in the body, which relaxes the pulmonary arteries and lowers pressure within them. Side effects include nausea, dizziness and fainting. You should not take GSC stimulators if you're pregnant.</li><br>

    <li><b>Endothelin receptor antagonists:</b> These medications reverse the effect of endothelin, a substance in the walls of blood vessels that causes them to narrow. Such drugs include bosentan (Tracleer), macitentan (Opsumit), and ambrisentan (Letairis). These drugs may improve your energy level and symptoms. However, they can damage your liver. You may need monthly blood tests to check your liver function. Endothelin receptor antagonists shouldn't be taken if you're pregnant.</li><br>

    <li><b>Oxygen therapy:</b> Your doctor might suggest that you sometimes breathe pure oxygen to help treat pulmonary hypertension, especially if you live at a high altitude or have sleep apnea. Some people who have pulmonary hypertension eventually need continuous oxygen therapy.</li><br>
</ul>

</body>
</html>