<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Hyperthyroidism</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Hyperthyroidism:</h2>

Hyperthyroidism is diagnosed using:<br>

<ul>
	<li><b>Medical history and physical exam.</b> During the exam your doctor may try to detect a slight tremor in your fingers when they're extended, overactive reflexes, eye changes and warm, moist skin. Your doctor will also examine your thyroid gland as you swallow to see if it's enlarged, bumpy or tender and check your pulse to see if it's rapid or irregular.</li><br>
	<li><b>Blood tests</b> Blood tests that measure thyroxine and thyroid-stimulating hormone (TSH) can confirm the diagnosis. High levels of thyroxine and low or nonexistent amounts of TSH indicate an overactive thyroid. The amount of TSH is important because it's the hormone that signals your thyroid gland to produce more thyroxine.<br>
	These tests are particularly necessary for older adults, who may not have classic symptoms of hyperthyroidism.</li><br>
</ul>

<br>

<h2>Treatment Of Hyperthyroidism:</h2>

Several treatments for hyperthyroidism exist. The best approach for you depends on your age, physical condition, the underlying cause of the hyperthyroidism, personal preference and the severity of your disorder. Possible treatments include:<br>

<ul>
	<li><b>Radioactive iodine:</b> Taken by mouth, radioactive iodine is absorbed by your thyroid gland, where it causes the gland to shrink. Symptoms usually subside within several months. Excess radioactive iodine disappears from the body in weeks to months.<br>
	This treatment may cause thyroid activity to slow enough to be considered underactive (hypothyroidism), and you may eventually need to take medication every day to replace thyroxine.</li><br>

	<li><b>Anti-thyroid medications:</b>These medications gradually reduce symptoms of hyperthyroidism by preventing your thyroid gland from producing excess amounts of hormones. They include methimazole (Tapazole) and propylithiouracil. Symptoms usually begin to improve within several weeks to months, but treatment with anti-thyroid medications typically continues at least a year and often longer.<br>

    For some people, this clears up the problem permanently, but other people may experience a relapse. Both drugs can cause serious liver damage, sometimes leading to death. Because propylthiouracil has caused far more cases of liver damage, it generally should be used only when you can't tolerate methimazole.</li><br>

    <li><b>Surgery (thyroidectomy)</b> If you're pregnant or you otherwise can't tolerate anti-thyroid drugs and don't want to or can't have radioactive iodine therapy, you may be a candidate for thyroid surgery, although this is an option in only a few cases.<br>

    In a thyroidectomy, your doctor removes most of your thyroid gland. Risks of this surgery include damage to your vocal cords and parathyroid glands — four tiny glands situated on the back of your thyroid gland that help control the level of calcium in your blood.<br>

    In addition, you'll need lifelong treatment with levothyroxine (Levoxyl, Synthroid, others) to supply your body with normal amounts of thyroid hormone. If your parathyroid glands also are removed, you'll need medication to keep your blood-calcium levels normal.</li><br>
</ul>

</body>
</html>


