<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Hypothyroidism</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Hypothyroidism:</h2>

In general, your doctor may test for an underactive thyroid if you are feeling increasingly tired, have dry skin, constipation and weight gain, or have had previous thyroid problems or a goiter.<br>

Diagnosis of hypothyroidism is based on your symptoms and the results of blood tests that measure the level of TSH and sometimes the level of the thyroid hormone thyroxine. A low level of thyroxine and high level of TSH indicate an underactive thyroid. That's because your pituitary produces more TSH in an effort to stimulate your thyroid gland into producing more thyroid hormone.<br>

Doctors can diagnose thyroid disorders much earlier than in the past — often before you experience symptoms. Because the TSH test is the best screening test, your doctor will likely check TSH first and follow with a thyroid hormone test if needed.<br>

TSH tests also play an important role in managing hypothyroidism. They help your doctor determine the right dosage of medication, both initially and over time.<br>

<h2>Diagnosis Of Hypothyroidism:</h2>

Standard treatment for hypothyroidism involves daily use of the synthetic thyroid hormone levothyroxine (Levo-T, Synthroid, others). This oral medication restores adequate hormone levels, reversing the signs and symptoms of hypothyroidism.<br>

You'll likely start to feel better soon after you start treatment. The medication gradually lowers cholesterol levels elevated by the disease and may reverse any weight gain. Treatment with levothyroxine will likely be lifelong, but because the dosage you need may change, your doctor is likely to check your TSH level every year.<br>

To determine the right dosage of levothyroxine initially, your doctor generally checks your level of TSH after six to eight weeks. After that, blood levels are generally checked six months later. Excessive amounts of the hormone can cause side effects, such as:<br>

<ul>
	<li>Increased appetite</li><br>
	<li>Insomnia</li><br>
	<li>Heart palpitations</li><br>
	<li>Shakiness</li><br>
</ul>

If you have coronary artery disease or severe hypothyroidism, your doctor may start treatment with a smaller amount of medication and gradually increase the dosage. Progressive hormone replacement allows your heart to adjust to the increase in metabolism.<br>
<br>

Certain medications, supplements and even some foods may affect your ability to absorb levothyroxine. Talk to your doctor if you eat large amounts of soy products or a high-fiber diet or you take other medications, such as:<br>
<ul>
	<li>Iron supplements or multivitamins that contain iron</li><br>
	<li>Aluminum hydroxide, which is found in some antacids</li><br>
	<li>Calcium supplements</li><br>
</ul>
Levothyroxine is best taken on an empty stomach at the same time every day. Ideally, you'll take the hormone in the morning and wait an hour before eating or taking other medications. If you take it at bedtime, wait four hours after your last meal or snack.<br>

</body>
</html>
