<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Impetigo</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Impetigo:</h2>

Doctors usually diagnose impetigo by looking at the distinctive sores. Lab tests generally aren't necessary.<br>

If the sores don't clear, even with antibiotic treatment, your doctor may take a sample of the liquid produced by a sore and test it to see what types of antibiotics might work best on it. Some types of the bacteria that cause impetigo have become resistant to certain antibiotic drugs.<br>


<h2>Treatment Of Impetigo:</h2>

Impetigo typically is treated with an antibiotic ointment or cream that you apply directly to the sores. You may need to first soak the affected area in warm water or use wet compresses to help remove the scabs so the antibiotic can penetrate the skin.<br>

If you have more than just a few impetigo sores, your doctor might recommend antibiotic drugs that can be taken by mouth. Be sure to finish the entire course of medication even if the sores are healed. This helps prevent the infection from recurring and makes antibiotic resistance less likely.<br>

For minor infections that haven't spread to other areas, you could try treating the sores with an over-the-counter antibiotic cream or ointment that contains bacitracin. Placing a nonstick bandage over the area can help prevent the sores from spreading.<br>

</body>
</html>