<!DOCTYPE html>

<style>

</style> 

<html>
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Jaundice</h1>
	<br>
	<br>
</div> 
<body> 

<h2>Diagnosis Of Jaundice:</h2>

Doctors diagnose jaundice by checking for signs of liver disease such as:<br>
<ul>
	<li>Bruising of the skin.</li><br>
	<li>Spider angiomas (abnormal collection of blood vessels near the surface of the skin).</li><br>
	<li>Palmar erythema (red coloration of the palms and fingertips).</li><br>
</ul>

Urinalysis (urine testing) that's positive for bilirubin shows that the patient has conjugated jaundice. The findings of urinalysis should be confirmed by serum testing. The serum testing will include a complete blood count (CBC) and bilirubin levels.<br>

Your doctor will also do an exam to determine the size and tenderness of your liver. He or she may use imaging (ultrasonography and computer tomographic (CT) scanning) and liver biopsy (taking a sample of the liver) to further confirm diagnosis.<br>

<h2>Treatment Of Jaundice:</h2>

Jaundice usually doesn't require treatment in adults (it's a more severe problem in infants). The causes and complications of jaundice can be treated.<br>

Mild infant jaundice often disappears on its own within two or three weeks. For moderate or severe jaundice, your baby may need to stay longer in the newborn nursery or be readmitted to the hospital.<br>

Treatments to lower the level of bilirubin in your baby's blood may include:<br>

<ul>
	<li><b>Enhanced nutrition:</b> To prevent weight loss, your doctor may recommend more-frequent feeding or supplementation to ensure that your baby receives adequate nutrition.</li><br>
	<li><b>Light therapy (phototherapy):</b> Your baby may be placed under a special lamp that emits light in the blue-green spectrum. The light changes the shape and structure of bilirubin molecules in such a way that they can be excreted in both the urine and stool. During treatment, your baby will wear only a diaper and protective eye patches. Light therapy may be supplemented with the use of a light-emitting pad or mattress.</li><br>
	<li><b>Intravenous immunoglobulin (IVIg):</b> Jaundice may be related to blood type differences between mother and baby. This condition results in the baby carrying antibodies from the mother that contribute to the rapid breakdown of the baby's red blood cells. Intravenous transfusion of an immunoglobulin — a blood protein that can reduce levels of antibodies — may decrease jaundice and lessen the need for an exchange transfusion, although results are not conclusive.</li><br>
	<li><b>Exchange transfusion:</b> Rarely, when severe jaundice doesn't respond to other treatments, a baby may need an exchange transfusion of blood. This involves repeatedly withdrawing small amounts of blood and replacing it with donor blood, thereby diluting the bilirubin and maternal antibodies — a procedure that's performed in a newborn intensive care unit.</li><br>
</ul>
</body>
</html>
