<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Malaria</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Malaria:</h2>

To diagnose malaria, your doctor will likely review your medical history, conduct a physical exam and order blood tests. Blood tests are the only way to confirm a malaria diagnosis. Certain blood tests can help your doctor by showing:<br>
<ul>
	<li>The presence of the parasite in the blood, to confirm that you have malaria</li><br>
	<li>Which type of malaria parasite is causing your symptoms</li><br>
	<li>If your infection is caused by a parasite resistant to certain drugs</li><br>
</ul>

<h2>Treatment Of Malaria:</h2>

Malaria is treated with prescription drugs to kill the parasite. The types of drugs and the length of treatment will vary, depending on:<br>
<ul>
	<li>Which type of malaria parasite you have</li><br>
	<li>The severity of your symptoms</li><br>
	<li>Your age</li><br>
	<li>Whether you're pregnant</li><br>
</ul>
<br>

<b>The most common antimalarial drugs include:</b><br>
<br>
<ul>
	<li><b>Artemisinin-based combination therapies (ACTs):</b> ACTs are, in many cases, the first line treatment for malaria. There are several different types of ACTs. Examples include artemether-lumefantrine (Coartem) and artesunate-amodiaquine. Each ACT is a combination of two or more drugs that work against the malaria parasite in different ways.</li><br>
	<li><b>Chloroquine phosphate:</b> Chloroquine is the preferred treatment for any parasite that is sensitive to the drug. But in many parts of the world, the parasites that cause malaria are resistant to chloroquine, and the drug is no longer an effective treatment.</li><br>
</ul>
</body>
</html>