<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Migraine</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Migraine:</h2>

Your doctor might diagnose the migraine with aura based on your signs and symptoms, your medical and family history, and a physical exam. If your aura isn't followed by head pain or if the visual disturbances affect only one eye, your doctor might recommend certain tests to rule out more-serious conditions, such as a retinal tear or a TIA.<br>

Assessments might include:<br>
<ul>
	<li><b>An eye examination:</b> A thorough eye exam, done by an eye specialist (ophthalmologist), can help rule out eye problems that might be causing aura.</li><br>
	<li><b>Head CT scan:</b> This X-ray technique produces detailed images of your brain.</li><br>
	<li><b>MRI:</b> This diagnostic imaging procedure produces images of your internal organs, including your brain.</li><br>
</ul>

<h2>Treatment Of Migraine:</h2>

<b>Medications for relief</b><br>
<br>

Medications used to relieve migraine pain work best when taken at the first sign of an oncoming migraine — as soon as signs and symptoms of a migraine aura begin. Depending on how severe your migraine pain is, types of medications that can be used to treat it include:<br>

<ul>
	<li><b>Pain relievers:</b> These over-the-counter or prescription pain relievers include aspirin or ibuprofen (Advil, Motrin IB, others). When taken too long, these might cause medication-overuse headaches, and possibly ulcers and bleeding in the gastrointestinal tract.<br>
    Migraine relief medications that combine caffeine, aspirin and acetaminophen (Excedrin Migraine) may be helpful, but usually only against mild migraine pain.</li><br>
    <li><b>Triptans:</b> These are prescription drugs such as sumatriptan (Imitrex, Tosymra) and rizatriptan (Maxalt) are prescription drugs used for migraine because they block pain pathways in the brain. Taken as pills, shots or nasal sprays, they can relieve many symptoms of migraine. They might not be safe for those at risk of a stroke or heart attack.</li><br>
    <li><b>Dihydroergotamines (D.H.E.45, Migranal):</b> Available as a nasal spray or injection, these are most effective when taken shortly after the start of migraine symptoms for migraines that tend to last longer than 24 hours. Side effects can include worsening of migraine-related vomiting and nausea.<br>
    People with coronary artery disease, high blood pressure or kidney or liver disease should avoid dihydrogergotamines.</li><br>
</ul>
<br>
<b>Preventive medications</b><br>
<br>
Medications can help prevent frequent migraines, with or without aura. Your doctor might recommend preventive medications if you have frequent, long-lasting or severe headaches that don't respond well to treatment.<br>

Preventive medication is aimed at reducing how often you get a migraine headache with or without aura, how severe the attacks are, and how long they last. Options include:<br>
<ul>
	<li><b>Blood pressure lowering medications:</b> These include beta blockers such as propranolol (Inderal, Innopran XL, others), metoprolol tartrate (Lopressor) and timolol (Betimol). Calcium channel blockers such as verapamil (Calan, Verelan, others) can be helpful in preventing migraines with aura.</li><br>
	<li><b>Antidepressants:</b> Amitriptyline, a tricyclic antidepressant, can prevent migraines. Because of the side effects of amitriptyline, such as sleepiness and weight gain, other antidepressants might be prescribed.</li><br>
	<li><b>Anti-seizure drugs:</b> Valproate (Depacon) and topiramate (Topamax) might help you have less frequent migraines, but can cause side effects such as dizziness, weight changes, nausea and more.</li><br>
    <li><b>Botox injections:</b> Injections of onabotulinumtoxinA (Botox) about every 12 weeks help prevent migraines in some adults.</li><br>
</ul>

<b>Stress management and lifestyle</b><br>
<br>
When symptoms of migraine with aura start, try heading to a quiet, darkened room. Close your eyes and rest or take a nap. Place a cool cloth or an ice pack wrapped in a towel or cloth on your forehead or at the back of your neck.<br>

Other practices that might soothe migraine with aura pain include:<br>
<ul>
	<li><b>Relaxation techniques:</b> Biofeedback and other forms of relaxation training teach you ways to deal with stressful situations, which might help reduce the number of migraines you have.</li><br>
	<li><b>Develop a sleeping and eating routine:</b> Don't sleep too much or too little. Set and follow a consistent sleep and wake schedule daily. Try to eat meals at the same time every day.<br></li>
	<li><b>Drink plenty of fluids:</b> Staying hydrated, particularly with water, might help.</li><br>
</ul>
</body>
</html>

