<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Osteoarthritis</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Osteoarthristis:</h2>

During the physical exam, your doctor will check your affected joint for tenderness, swelling, redness and flexibility.<br>

To get pictures of the affected joint, your doctor might recommend:<br>

<ul>
	<li><b>X-rays</b> Cartilage doesn't show up on X-ray images, but cartilage loss is revealed by a narrowing of the space between the bones in your joint. An X-ray can also show bone spurs around a joint.</li><br>
	<li><b>Magnetic resonance imaging (MRI)</b> An MRI uses radio waves and a strong magnetic field to produce detailed images of bone and soft tissues, including cartilage. An MRI isn't commonly needed to diagnose osteoarthritis but can help provide more information in complex cases.</li><br>
</ul>
<br>

Analyzing your blood or joint fluid can help confirm the diagnosis.<br>
<ul>
	<li><b>Blood tests</b> Although there's no blood test for osteoarthritis, certain tests can help rule out other causes of joint pain, such as rheumatoid arthritis.</li><br>
	<li><b>Joint fluid analysis</b> Your doctor might use a needle to draw fluid from an affected joint. The fluid is then tested for inflammation and to determine whether your pain is caused by gout or an infection rather than osteoarthritis.</li><br>
</ul>
<br>

<h2>Treatment Of Osteoarthristis:</h2>

Medications that can help relieve osteoarthritis symptoms, primarily pain, include:<br>
<ul>
	<li><b>Acetaminophen</b> Acetaminophen (Tylenol, others) has been shown to help some people with osteoarthritis who have mild to moderate pain. Taking more than the recommended dose of acetaminophen can cause liver damage.</li><br>
	<li><b>Nonsteroidal anti-inflammatory drugs (NSAIDs)</b> Over-the-counter NSAIDs, such as ibuprofen (Advil, Motrin IB, others) and naproxen sodium (Aleve, others), taken at the recommended doses, typically relieve osteoarthritis pain. Stronger NSAIDs are available by prescription.</li><br>
	<li><b>Duloxetine (Cymbalta)</b> Normally used as an antidepressant, this medication is also approved to treat chronic pain, including osteoarthritis pain.</li><br>
</ul>

<h4>Therapy</h4>

<ul>
	<li><b>Physical therapy</b> A physical therapist can show you exercises to strengthen the muscles around your joint, increase your flexibility and reduce pain. Regular gentle exercise that you do on your own, such as swimming or walking, can be equally effective.</li><br>
	<li><b>Occupational therapy</b> An occupational therapist can help you discover ways to do everyday tasks without putting extra stress on your already painful joint. For instance, a toothbrush with a large grip could make brushing your teeth easier if you have osteoarthritis in your hands. A bench in your shower could help relieve the pain of standing if you have knee osteoarthritis.</li><br>
</ul>

</body>
</html>
