<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
    <br>
    <br>
    <h1>Paralysis</h1>
    <br>
    <br>
</div>
<body> 

<h2>Diagnosis Of Paralysis (brain hemorrhage):</h2>

To diagnose a brain AVM, your neurologist will review your symptoms and conduct a physical examination.<br>

Your doctor may order one or more tests to diagnose your condition. Radiologists trained in brain and nervous system imaging (neuroradiologists) usually conduct imaging tests. Tests used to diagnose brain hemorrhage include:<br>

<ul>
	<li><b>Cerebral arteriography:</b> Cerebral arteriography, also known as cerebral angiography, is the most detailed test to diagnose an AVM. The test reveals the location and characteristics of the feeding arteries and draining veins, which is critical to planning treatment.<br>
	In this test, your doctor inserts a long, thin tube (catheter) into an artery in the groin and threads it to your brain using X-ray imaging. Your doctor injects dye into the blood vessels of your brain to make them visible under X-ray imaging.</li><br>
	<li><b>Computerized tomography (CT) scan:</b> A CT scan uses a series of X-rays to create a detailed cross-sectional image of your brain.<br>
    Sometimes a doctor injects dye through an intravenous tube into a vein so that the arteries feeding the AVM and the veins draining the AVM can be viewed in greater detail (computerized tomography angiogram).<br></li>
    <li><b>Magnetic resonance imaging (MRI):</b> MRI uses powerful magnets and radio waves to create detailed images of your brain.MRI is more sensitive than CT and can show more subtle changes in brain tissue associated with a brain AVM.<br>
    MRI also provides information about the exact location of the malformation and any related bleeding in the brain, which is important for determining treatment options.</li><br>
</ul>

<h2>Treatment Of Paralysis (brain hemorrhage):</h2>

Your doctor will determine the most appropriate treatment for your condition, depending on your age, health, and the size and location of the abnormal blood vessels.<br>

Medications also may be used to treat symptoms caused by the AVM, such as headaches or seizures.<br>

Surgery is the most common treatment for brain AVMs. There are three different surgical options for treating :<br>

<ul>
	<li><b>Surgical removal (resection):</b> If the brain AVM has bled or is in an area that can easily be reached, surgical removal of the AVM via conventional brain surgery may be recommended. In this procedure, your neurosurgeon removes part of your skull temporarily to gain access to the AVM.<br>
    With the help of a high-powered microscope, the surgeon seals off the AVM with special clips and carefully removes it from surrounding brain tissue. The surgeon then reattaches the skull bone and closes the incision in your scalp.</li>
    <li><b>Endovascular embolization:</b> In this procedure, your doctor inserts a long, thin tube (catheter) into a leg artery and threads it through blood vessels to your brain using X-ray imaging.<br>
    The catheter is positioned in one of the feeding arteries to the AVM, and injects an embolizing agent, such as small particles, a glue-like substance, microcoils or other materials, to block the artery and reduce blood flow into the AVM.</li><br>
    <li><b>Stereotactic radiosurgery (SRS):</b> This treatment uses precisely focused radiation to destroy the AVM. It is not surgery in the literal sense because there is no incision.<br>
    Instead, SRS directs many highly targeted radiation beams at the AVM to damage the blood vessels and cause scarring. The scarred AVM blood vessels then slowly clot off in one to three years following treatment.<br>
    This treatment is most appropriate for small AVMs that are difficult to remove with conventional surgery and for those that haven't caused a life-threatening hemorrhage.</li><br>
</ul>

</body>
</html>
