<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
    <br>
    <br>
    <h1>Peptic Ulcer Disease</h1>
    <br>
    <br>
</div>
<body> 

<h2>DIAGNOSIS OF PEPTIC ULCER:</h2>

<p>To detect an ulcer, your doctor may first take a medical history and perform a physical exam. You then may need to undergo diagnostic tests, such as:<br>
	<ul>
		<li>Laboratory tests: Your doctor may recommend tests to determine whether the bacterium H. pylori is present in your body. He or she may look for H. pylori using a blood, stool or breath test. The breath test is the most accurate.</li><br>
        <li>For the breath test, you drink or eat something that contains radioactive carbon. H. pylori breaks down the substance in your stomach. Later, you blow into a bag, which is then sealed. If you're infected with H. pylori, your breath sample will contain the radioactive carbon in the form of carbon dioxide.</li><br>
        <li>If you are taking an antacid prior to the testing for H. pylori, make sure to let your doctor know. Depending on which test is used, you may need to discontinue the medication for a period of time because antacids can lead to false-negative results.</li><br>
        <li>Endoscopy: Your doctor may use a scope to examine your upper digestive system (endoscopy). During endoscopy, your doctor passes a hollow tube equipped with a lens (endoscope) down your throat and into your esophagus, stomach and small intestine. Using the endoscope, your doctor looks for ulcers.</li><br>
        <li>If your doctor detects an ulcer, a small tissue sample (biopsy) may be removed for examination in a lab. A biopsy can also identify whether H. pylori is in your stomach lining.</li><br>
        <li>Your doctor is more likely to recommend endoscopy if you are older, have signs of bleeding, or have experienced recent weight loss or difficulty eating and swallowing. If the endoscopy shows an ulcer in your stomach, a follow-up endoscopy should be performed after treatment to show that it has healed, even if your symptoms improve.</li><br>
    </ul>
</p>


<h2>TREATMENT OF PEPTIC ULCER:</h2>

<p>Treatment for peptic ulcers depends on the cause. Usually treatment will involve killing the H. pylori bacterium if present, eliminating or reducing use of NSAIDs if possible, and helping your ulcer to heal with medication.<br>

	<b>Medications can include:</b><br>
	<ul>
		<li>Antibiotic medications to kill H. pylori: If H. pylori is found in your digestive tract, your doctor may recommend a combination of antibiotics to kill the bacterium. These may include amoxicillin (Amoxil), clarithromycin (Biaxin), metronidazole (Flagyl), tinidazole (Tindamax), tetracycline and levofloxacin.<br>
        The antibiotics used will be determined by where you live and current antibiotic resistance rates. You'll likely need to take antibiotics for two weeks, as well as additional medications to reduce stomach acid, including a proton pump inhibitor and possibly bismuth subsalicylate (Pepto-Bismol).</li><br>

        <li>Medications that block acid production and promote healing - Proton pump inhibitors — also called PPIs — reduce stomach acid by blocking the action of the parts of cells that produce acid. These drugs include the prescription and over-the-counter medications omeprazole (Prilosec), lansoprazole (Prevacid), rabeprazole (Aciphex), esomeprazole (Nexium) and pantoprazole (Protonix).<br>
        Long-term use of proton pump inhibitors, particularly at high doses, may increase your risk of hip, wrist and spine fracture. Ask your doctor whether a calcium supplement may reduce this risk.</li><br>

        <li>Medications to reduce acid production : Acid blockers — also called histamine (H-2) blockers — reduce the amount of stomach acid released into your digestive tract, which relieves ulcer pain and encourages healing.<br>

        Available by prescription or over the counter, acid blockers include the medications famotidine (Pepcid AC), cimetidine (Tagamet HB) and nizatidine (Axid AR).<br>

        Antacids that neutralize stomach acid. Your doctor may include an antacid in your drug regimen. Antacids neutralize existing stomach acid and can provide rapid pain relief. Side effects can include constipation or diarrhea, depending on the main ingredients.<br>

        Antacids can provide symptom relief but generally aren't used to heal your ulcer.</li><br>

        <li>Medications that protect the lining of your stomach and small intestine: In some cases, your doctor may prescribe medications called cytoprotective agents that help protect the tissues that line your stomach and small intestine.<br>
        Options include the prescription medications sucralfate (Carafate) and misoprostol (Cytotec).</li><br>
    </ul>

    <b>Follow-up after initial treatment:</b><br>
Treatment for peptic ulcers is often successful, leading to ulcer healing. But if your symptoms are severe or if they continue despite treatment, your doctor may recommend endoscopy to rule out other possible causes for your symptoms.<br>

<br>

If an ulcer is detected during endoscopy, your doctor may recommend another endoscopy after your treatment to make sure your ulcer has healed. Ask your doctor whether you should undergo follow-up tests after your treatment.
</p>


</body> 
</html> 






