<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Pneumonia</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Pneumonia:</h2>

Your doctor will start by asking about your medical history and doing a physical exam, including listening to your lungs with a stethoscope to check for abnormal bubbling or crackling sounds that suggest pneumonia.<br>

If pneumonia is suspected, your doctor may recommend the following tests:<br>

<ul>
	<li><b>Blood tests:</b> Blood tests are used to confirm an infection and to try to identify the type of organism causing the infection. However, precise identification isn't always possible.</li><br>
	<li><b>Chest X-ray:</b> This helps your doctor diagnose pneumonia and determine the extent and location of the infection. However, it can't tell your doctor what kind of germ is causing the pneumonia.</li><br>
	<li><b>Pulse oximetry</b> This measures the oxygen level in your blood. Pneumonia can prevent your lungs from moving enough oxygen into your bloodstream.</li><br>
	<li><b>Sputum test</b> A sample of fluid from your lungs (sputum) is taken after a deep cough and analyzed to help pinpoint the cause of the infection.</li><br>
</ul>
<br>

<h2>Treatment Of Pneumonia:</h2>

Treatment for pneumonia involves curing the infection and preventing complications. People who have community-acquired pneumonia usually can be treated at home with medication. Although most symptoms ease in a few days or weeks, the feeling of tiredness can persist for a month or more.<br>

Specific treatments depend on the type and severity of your pneumonia, your age and your overall health. The options include:<br>

<ul>
	<li><b>Antibiotics</b> These medicines are used to treat bacterial pneumonia. It may take time to identify the type of bacteria causing your pneumonia and to choose the best antibiotic to treat it. If your symptoms don't improve, your doctor may recommend a different antibiotic.</li><br>
	<li><b>Cough medicine</b> This medicine may be used to calm your cough so that you can rest. Because coughing helps loosen and move fluid from your lungs, it's a good idea not to eliminate your cough completely. In addition, you should know that very few studies have looked at whether over-the-counter cough medicines lessen coughing caused by pneumonia. If you want to try a cough suppressant, use the lowest dose that helps you rest.</li><br>
	<li><b>Fever reducers/pain relievers</b> You may take these as needed for fever and discomfort. These include drugs such as aspirin, ibuprofen (Advil, Motrin IB, others) and acetaminophen (Tylenol, others).</li><br>
</ul>
<br>

</body>
</html>