<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Psoriasis</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Psoriasis:</h2>

Your doctor will ask questions about your health and examine your skin, scalp and nails. Your doctor might take a small sample of skin (biopsy) for examination under a microscope. This helps determine the type of psoriasis and rule out other disorders.<br>

<h2>Treatment Of Psoriasis:</h2>

Psoriasis treatments aim to stop skin cells from growing so quickly and to remove scales. Options include creams and ointments (topical therapy), light therapy (phototherapy), and oral or injected medication.<br>

Which treatments you use depends on how severe the psoriasis is and how responsive it has been to previous treatment. You might need to try different drugs or a combination of treatments before you find an approach that works for you. Usually, however, the disease returns.<br>

<h4>Light therapy</h4>

<ul>
	<li><b>Sunlight.</b> Brief, daily exposures to sunlight (heliotherapy) might improve psoriasis. Before beginning a sunlight regimen, ask your doctor about the safest way to use natural light for psoriasis treatment.</li><br>
	<li><b>UVB broadband.</b> Controlled doses of UVB broadband light from an artificial light source can treat single patches, widespread psoriasis and psoriasis that doesn't improve with topical treatments. Short-term side effects might include redness, itching and dry skin. Moisturizing regularly can help ease your discomfort.</li><br>
	<li><b>UVB narrowband.</b> UVB narrowband light therapy might be more effective than UVB broadband treatment and in many places has replaced broadband therapy. It's usually administered two or three times a week until the skin improves and then less frequently for maintenance therapy. Narrowband UVB phototherapy may cause more-severe and longer lasting burns, however.</li><br>

</ul>

<h4>Oral or injected medications</h4>

If you have moderate to severe psoriasis or other treatments haven't worked, your doctor may prescribe oral or injected (systemic) drugs. Because of the potential for severe side effects, some of these medications are used for only brief periods and might be alternated with other treatments.<br>

<ul>
	<li><b>Steroids.</b> If you have a few small, persistent psoriasis patches, your doctor might suggest an injection of triamcinolone right into the lesions.</li><br>
	<li><b>Retinoids.</b> Acitretin (Soriatane) and other retinoids are pills used to reduce the production of skin cells. Side effects might include dry skin and muscle soreness. These drugs are not recommended when you're pregnant or breast-feeding or if you intend to become pregnant.</li><br>
	<li><b>Methotrexate.</b> Usually administered weekly as a single oral dose, methotrexate (Trexall) decreases the production of skin cells and suppresses inflammation. It's less effective than adalimumab (Humira) and infliximab (Remicade). It might cause upset stomach, loss of appetite and fatigue. People taking methotrexate long term need ongoing testing to monitor their blood counts and liver function.</li><br>
</ul>

</body>
</html>


