<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Typhoid</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Typhoid:</h2>

Your doctor is likely to suspect typhoid fever based on your symptoms and your medical and travel history. But the diagnosis is usually confirmed by identifying Salmonella typhi in a culture of your blood or other body fluid or tissue.<br>
<br>

<b>Body fluid or tissue culture</b><br>
<br>
For the culture, a small sample of your blood, stool, urine or bone marrow is placed on a special medium that encourages the growth of bacteria. The culture is checked under a microscope for the presence of typhoid bacteria. A bone marrow culture often is the most sensitive test for Salmonella typhi.<br>

Although performing a culture test is the mainstay for diagnosis, in some instances other testing may be used to confirm a suspected typhoid fever infection, such as a test to detect antibodies to typhoid bacteria in your blood or a test that checks for typhoid DNA in your blood.<br>
<br>

<h2>Treatment Of Typhoid:</h2>

Antibiotic therapy is the only effective treatment for typhoid fever.<br>
<br>

Commonly prescribed antibiotics include:<br>
<ul>
	<li><b>Ciprofloxacin (Cipro):</b>In the United States, doctors often prescribe this for nonpregnant adults. Another similar drug called ofloxacin also may be used. Unfortunately, many Salmonella typhi bacteria are no longer susceptible to antibiotics of this type, particularly strains acquired in Southeast Asia.</li><br>
	<li><b>Azithromycin (Zithromax):</b> This may be used if a person is unable to take ciprofloxacin or the bacteria is resistant to ciprofloxacin.</li><br>
	<li><b>Ceftriaxone:</b> This injectable antibiotic is an alternative in more-complicated or serious infections and for people who may not be candidates for ciprofloxacin, such as children.</li><br>
</ul>
<br>

<b>Problems with antibiotic resistance</b><br>
<br>

In the past, the drug of choice was chloramphenicol. Doctors no longer commonly use it, however, because of side effects, a high rate of health deterioration after a period of improvement (relapse) and widespread bacterial resistance.<br>

In fact, the existence of antibiotic-resistant bacteria is a growing problem in the treatment of typhoid fever, especially in the developing world. In recent years, Salmonella typhi has also proved resistant to trimethoprim-sulfamethoxazole, ampicillin and ciprofloxacin.<br>

</body>
</html>

