<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Urinary Tract Infection</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Urinary tract infection:</h2>

Tests and procedures used to diagnose urinary tract infections include:<br>
<ul>
	<li><b>Analyzing a urine sample.</b> Your doctor may ask for a urine sample for lab analysis to look for white blood cells, red blood cells or bacteria. To avoid potential contamination of the sample, you may be instructed to first wipe your genital area with an antiseptic pad and to collect the urine midstream.</li><br>

	<li><b>Growing urinary tract bacteria in a lab.</b> Lab analysis of the urine is sometimes followed by a urine culture. This test tells your doctor what bacteria are causing your infection and which medications will be most effective.</li><br>

	<li><b>Creating images of your urinary tract.</b> If you are having frequent infections that your doctor thinks may be caused by an abnormality in your urinary tract, you may have an ultrasound, a computerized tomography (CT) scan or magnetic resonance imaging (MRI). Your doctor may also use a contrast dye to highlight structures in your urinary tract.</li><br>
</ul>


<h2>Treatment Of Urinary tract infection:</h2>

Antibiotics usually are the first line treatment for urinary tract infections. Which drugs are prescribed and for how long depend on your health condition and the type of bacteria found in your urine.<br>

Drugs commonly recommended for simple UTIs include:<br>
<ul>
	<li>Trimethoprim/sulfamethoxazole (Bactrim, Septra, others)</li>
	<li>Fosfomycin (Monurol)</li>
	<li>Nitrofurantoin (Macrodantin, Macrobid)</li>
	<li>Cephalexin (Keflex)</li>
	<li>Ceftriaxone</li>
</ul>

The group of antibiotic medicines known as fluoroquinolones — such as ciprofloxacin (Cipro), levofloxacin and others — isn't commonly recommended for simple UTIs, as the risks of these medicines generally outweigh the benefits for treating uncomplicated UTIs. In some cases, such as a complicated UTI or kidney infection, your doctor might prescribe a fluoroquinolone medicine if there are no other treatment options.<br>

Often, symptoms clear up within a few days of treatment. But you may need to continue antibiotics for a week or more. Take the entire course of antibiotics as prescribed.<br>

</body>
</html>


