<!DOCTYPE html>

<style>

</style> 

<html> 
<link rel="stylesheet" href="{{ url_for('static', filename='style_sol.css') }}">

<div id='background'>
	<br>
	<br>
	<h1>Varicose Veins</h1>
	<br>
	<br>
</div>
<body> 

<h2>Diagnosis Of Varicose veins:</h2>

To diagnose varicose veins, your doctor will do a physical exam, including looking at your legs while you're standing to check for swelling. Your doctor may also ask you to describe any pain and aching in your legs.<br>

You also may need an ultrasound test to see if the valves in your veins are functioning normally or if there's any evidence of a blood clot. In this noninvasive test, a technician runs a small hand-held device (transducer), about the size of a bar of soap, against your skin over the area of your body being examined. The transducer transmits images of the veins in your legs to a monitor, so a technician and your doctor can see them.<br>


<h2>Treatment Of Varicose veins:</h2>

Fortunately, treatment usually doesn't mean a hospital stay or a long, uncomfortable recovery. Thanks to less invasive procedures, varicose veins can generally be treated on an outpatient basis.

Ask your doctor if insurance will cover any of the cost of your treatment. If done for purely cosmetic reasons, you'll likely have to pay for the treatment of varicose veins yourself.

<h4>Self-care</h4>
Self-care — such as exercising, losing weight, not wearing tight clothes, elevating your legs, and avoiding long periods of standing or sitting — can ease pain and prevent varicose veins from getting worse.<br>

<h4>Compression stockings</h4>
Wearing compression stockings all day is often the first approach to try before moving on to other treatments. They steadily squeeze your legs, helping veins and leg muscles move blood more efficiently. The amount of compression varies by type and brand.<br>

You can buy compression stockings at most pharmacies and medical supply stores. Prescription-strength stockings also are available, and are likely covered by insurance if your varicose veins are causing symptoms.<br>

If you don't respond to self-care or compression stockings, or if your condition is more severe, your doctor may suggest one of these varicose vein treatments:<br>

<ul>
	<li><b>Sclerotherapy</b> In this procedure, your doctor injects small- and medium-sized varicose veins with a solution or foam that scars and closes those veins. In a few weeks, treated varicose veins should fade.<br>
    Although the same vein may need to be injected more than once, sclerotherapy is effective if done correctly. Sclerotherapy doesn't require anesthesia and can be done in your doctor's office.<br></li>

    <li><b>Foam sclerotherapy of large veins</b> Injection of a large vein with a foam solution is also a possible treatment to close a vein and seal it.<br></li>

    <li><b>Laser treatment</b> Doctors are using new technology in laser treatments to close off smaller varicose veins and spider veins. Laser treatment works by sending strong bursts of light onto the vein, which makes the vein slowly fade and disappear. No incisions or needles are used.</li><br>

    <li><b>High ligation and vein stripping</b> This procedure involves tying off a vein before it joins a deep vein and removing the vein through small incisions. This is an outpatient procedure for most people. Removing the vein won't adversely affect circulation in your leg because veins deeper in the leg take care of the larger volumes of blood.</li><br>
</ul>
<br>

</body>
</html>
